.productListContainer {
  max-height: 80vh; /* Adjust the height as necessary */
  overflow-y: auto; /* Enables scrolling */
  padding: 16px; /* Updated padding for inner spacing */
}

.product-item {
  display: flex;
  align-items: center; /* Align items to the center of the cross axis */
  margin-bottom: 16px; /* Space between items */
  background: #ffffff; /* White card background */
  border: 1px solid #eaecf0; /* Border for the card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 8px; /* Rounded corners for the card */
  transition: transform 0.2s; /* Smooth transition for hover effects */
}

.product-item:hover {
  transform: translateY(-2px); /* Slight lift effect on hover */
  cursor: pointer; /* Change cursor to indicate clickable */
}

.product-image-container {
  margin-right: 16px; /* Space between image and details */
}

.product-image {
  width: 80px; /* Adjust width as necessary */
  height: 80px; /* Adjust height as necessary */
  object-fit: cover; /* Cover the frame without distorting aspect ratio */
  border-radius: 4px; /* Rounded corners for the image */
  transition: transform 0.2s; /* Smooth transition for hover effects */
}

.product-image:hover {
  transform: scale(1.05); /* Slight grow effect on hover */
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Distribute space around items */
}

.product-category {
  color: purple; /* Set category color to purple */
  font-size: 0.9rem; /* Smaller font size for category */
}

.product-title {
  font-size: 1.1rem; /* Larger font size for title */
  font-weight: bold; /* Bold font weight for title */
}

.product-description {
  color: #666; /* Grey color for description */
  font-size: 0.8rem; /* Smaller font size for description */
}

.product-price {
  color: #333; /* Darker color for price */
  font-weight: bold; /* Bold font weight for price */
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 4px; /* Space between star icon and rating text */
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pageNumber {
  margin: 0 5px;
  cursor: pointer; /* Indicates the button is clickable */
  background-color: transparent; /* No background for a clean look */
  border: none; /* No border for a clean look */
  padding: 5px 10px; /* Padding for clickable area */
}

.pageNumber:hover,
.pageNumber.active {
  color: #0056b3; /* Highlight color for hover and active page */
  text-decoration: underline; /* Underline for a visual cue */
}
