.productListContainer {
  max-height: calc(
    100vh - 50px - 30px
  ); /* Adjust the header and footer height as necessary */
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.productCard {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin: 8px;
  padding: 16px;
  transition: transform 0.1s ease-in-out;
}

.productCard:hover {
  transform: translateY(-2px);
}

.productImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.productDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productCategory,
.productTitle,
.productDescription,
.productPrice,
.productRating {
  margin-bottom: 4px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pageNumber {
  margin: 0 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
}

.pageNumber:hover,
.pageNumber.active {
  color: #0056b3;
  text-decoration: underline;
}
