/* App.css */

.app-container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.product-list-container {
  width: 50%;
  /* Add any additional styles for the product list container */
}

.product-detail-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Style for when no product is selected */
.no-selection-container {
  color: grey; /* Default text color */
}

.no-selection-container p {
  margin-bottom: 1rem; /* Space between paragraphs */
}

.no-selection-important {
  color: black;
  font-weight: bold;
}

.no-selection-header {
  color: purple;
}
