/* App.css */

.app-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  height: 100vh; /* Full height of the viewport */
}

.product-list-container {
  width: 50%;
  overflow-y: auto; /* Add scrollbar to product list */
  height: 100vh; /* Full height */
}

.product-detail-container {
  width: 50%;
  display: flex;
  justify-content: center; /* Centers content horizontally in the flex container */
  align-items: center; /* Centers content vertically in the flex container */
  height: 100%; /* Full height */
}

/* Style for when no product is selected */
.no-selection-container {
  width: 100%; /* Take full width to center text properly */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center;
  height: 100%; /* Take full height to allow for vertical centering */
}

.no-selection-header {
  color: purple;
  font-size: 0.8rem; /* Smaller font size */
  margin-bottom: 0.1rem; /* Space between header and important */
}

.no-selection-important {
  color: black;
  font-weight: bold;
  font-size: 1.8rem; /* Larger font size for emphasis */
  margin-bottom: 0.5rem; /* Space between important and text */
}

.no-selection-text {
  color: grey;
  /* The font size remains the default size, so no need to set it unless you want a specific size */
  margin-bottom: 1rem; /* Space after the text if needed */
}
